
.slideshow {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;

}

.slideshowSlider {
  display: flex;
  animation: carousel 25s linear infinite;


  
}

.slide {

  display: block; 
  width: 1500px;
  object-fit: cover;
}

.slide img {
  height: 800px;
  width: 1200px;
}

@keyframes carousel {
  100% {
    transform: translateX(-6000px);
  }
}

